/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  /* display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:flex-start; */
  min-height: 100vh;
  background: #23242a;
  /* background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(/daac885…/c157c/assets/svg/common-bg.svg); */
}

h4 {
  font-size: 25px;
}

.navigation {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 11vh;
  background:#1c1c1c;
  color: #2565E1;
}

.wrap {
    padding: 0 30px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.flex {
  display: flex;
}

.nav-links {
  gap: 18px;
}

.nav-link {
  list-style: none;
}

.nav-link-text {
  text-decoration: none;
  color: #2565E1;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo {
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 900;
}

/* Hamburger menu */

.hamburger {
  display: block;
  cursor: pointer;
  display: none;
}

.hamburger span {
  transition: 0.7s;
}

.hamburger-menu {
  position: absolute;
  top: 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background: #2565E1;
  margin: 5px auto;
}


/* Hero section */

.hero {
  width: 100%;
  height: 90vh;
  padding: 8rem 0 10rem 0;
  /* background-image: url(./images/black.jpg); */
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
}

.hero-wrap {
  color: #C7C7C7;
  text-align: center;
}

.hero-head {
  margin-bottom: 10px;
  font-size: 3rem;
  text-transform: uppercase;
}

.hero-text {
  font-size: 1.2rem;
}

.line {
  width: 30%;
  height: 2px;
  background-color: #1c1c1c;
  margin-bottom: 10px;
}

/* Video */

.media {
  overflow: hidden;
  position: relative;
  top: -133px;
  z-index: -2;
}

.image {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

/* About section */

.main__container {
    max-width: 120rem;
    margin: 100px auto;
    width: 92%;
}

.about__container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.about__text {
  color: #C7C7C7;
  padding: 10px;
  max-width: 500px;
}
.about__picture {
  width: 400px;
  height: 300px;
  /* background: #2565E1; */

  background-image: url(./images/black.jpg);
  background-position: center;
  background-size: cover;

  border-top-left-radius: 100px;
}

.about__content-title {
  font-size: 25px;
  margin: 20px 0;
  letter-spacing: 2px;
}

.about__content-text {
  line-height: 1.7;
}

/* #about {
  margin-bottom: 100px;
} */

/* Button */

.btn {
  background: #2565E1;
  padding: 10px 30px;
  display: inline-block;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  transition: transform .3s;
  cursor: pointer;
}

.btn a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #333;
}

/* Projects Section */

.section-title {
  font-size: 33px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin: 0rem 0 1.5rem 0;
  color: #C7C7C7;
  padding: 5rem 0 0 0;
}

.projects__container-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.background__fade {
  position: absolute;
  width: 100%;
  height: 320px;
  background: #2565E1;
  filter: blur(125px);
}

.box {
  position: relative;
  width: 280px;
  height: 320px;
  background: #1c1c1c;
  background: red;
  border-radius: 8px;
  overflow: hidden;
  grid-column-start: 3;
}

.box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 280px;
  height: 320px;
  background: linear-gradient(0deg, transparent, #2565E1, #2565E1);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
}
.box::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 280px;
  height: 320px;
  background: linear-gradient(0deg, transparent, #2565E1, #2565E1);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: 3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 2px;
  z-index: 10;
  background: #28292d;
  border-radius: 8px;
  color: #fff;
  padding: 20px 20px;
  text-align: left;
}

.form h4 {
  margin-bottom: 21px;
}

.form p {
  line-height: 1.4;
  color: #C7C7C7;
  
}

/* Contact section */

.contact__container-wrap {
  padding: 20px;
  
  border-radius: 10px;
}

.contact__heading-text {
  line-height: 1.5;
  color: #C7C7C7;
  text-align: center;
  max-width: 36rem;
  margin: 2rem auto 0 auto
}

.contact__form-container {
  padding: 10px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  max-width: 36rem;
  margin: 2rem auto 0 auto;
  /* background: #1c1c1c; */
  /* padding: 1.2rem; */
}

.contact__form-field {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

.contact__form-input {
  padding: 1rem;
  background: #f0f0f0;
  border-radius: 5px;
}

.contact__form-label {
  color: #666;
    font-size: 1.4rem;
    margin: 0 0 10px;
    font-weight: bold;
}

.contact_btn {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1rem;
  color: #333;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.credits {
  text-align: center;
}

.credits__text {
  color: #2565E1;
  font-size: 14px;
  text-align: center;
}

.socials {
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__icon:hover {
  transition: 0.5s;
  cursor: pointer;
  border: 1.4px solid #2565E1;
  border-radius: 50%;
}
.social__icon {
  cursor: pointer;
  width: 40px;
}

.socials ul {
  display: flex;
  gap: 15px;
}

.socials ul li {
  list-style: none;
}

.hidden {
  display: none;
}

.oneRem {
  margin: 1rem 0;
}

.fixed {
  position: fixed;
}


.color-changer {
  width: 80px;
  height: 20px;
  background: #2565E1;
  text-align: center;
  font-weight: bold;
  z-index: 1000;
  transition: 0.7s;
  filter: blur(10px);
  padding: 0 auto;
  margin: 0 auto 1.5rem;
  cursor: pointer;
}
.blur {
  filter: blur(10px);
  transition: 0.7s;
  background: #facf0f;
}

.yellow-font {
  color: #facf0f;
}
.yellow-background {
  background: #facf0f;
}

.transition {
  transition: 0.7s;
}

@media  (max-width: 600px) {
  .nav-links {
    position: fixed;
    height: 100%;
    left: -100%;
    top: 80px;
    padding: 100px 0 100px 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: #1c1c1c;
    gap: 20%;
  }

  .nav-link-text {
    font-weight: 700;
    font-size: 23px;
  }

  .hamburger.burger-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    transition: 0.7s;
  }
  .hamburger.burger-active .bar:nth-child(2) {
    opacity: 0;
    transition: 0.7s;
  }
  .hamburger.burger-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    transition: ease-in-out 0.7s;
  }

  .active {
    left: 0;
    z-index: 100;
  }
  
  .fixed {
    position: fixed;
    top: 0;
  }

  .margin-20 {
    margin: 20px 0;
  }

  .hamburger {
    display: block;
  }
}

@media (min-width: 550px) {
  .hero-head {
    font-size: 4.5rem;
  }

  .hero-text {
    font-size: 1.8rem;
  }

  .contact_btn {
    width: 30%;
    margin-top: 1rem;
  }
}


@media (min-width: 900px) {
  .hero-head {
    font-size: 6rem;
  }
}
